.menu {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    position: absolute;
    height: 100%;
    min-height: 500px;
    min-width: 266.797px;
    z-index: 1;
    background-color: #ebebeb;
    border: 1px solid #cfcfcf;
}

.menu>.title-menu {
    height: 100px;
    line-height: 140px;
    color: #273f57;
    font-size: 25px;
    text-align: center;
}

.menu ul, .menu>ul>li {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
}

.menu>ul>li>h3 {
    height: 35px;
    line-height: 35px;
    padding-left: 15px;
    background-color: #273f57;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.menu>ul>li>ul>li {
    display: block;
    height: 35px;
}

.menu>ul>li>ul>li>a {
    display: block;
    height: inherit;
    width: 100%;
    line-height: 35px;
    font-size: 13px;
    text-align: center;
    border-right: 2px solid transparent;
    color: #000;
}

.menu>ul>li>ul>li>a.active {
    background-color: #dedede;
    border-right: 2px solid #273f57;
}

.menu>ul>li>ul>li>a:hover:not(.active) {
    background-color: #dedede;
    border-right: 2px solid #EA6453;
}
