#gerar-novasenha {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #ebebeb;
}

#gerar-novasenha form {
    width: 70%;
}

#gerar-novasenha h2 {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #273f57;
    border-bottom: 2px solid #273f57;
    margin-bottom: 40px;
    text-align: center;
    color: #ebebeb;
    margin-top: 0;
}

.flex-column {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}

.info-token {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    width: auto;
    height: 90px;
    border-radius: 20px;
    border-radius: 10px;
    margin-bottom: 60px;
}

.info-token .passos-senha {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    width: 100px;
    background-color: #273f57;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
}

.info-token .msg-senha {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    padding: 5px 20px;
    text-align: center;
    color: #273f57;
    border: 2px solid #273f57;
    border-radius: 10px;
    background-color: #dfecf2;
}

.group-input {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    min-height: 65px;
    width: 40%;
}

input {
    padding: 2px 40px;
}

.icon-input {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 22px;
    background-color: #273f57;
    position: absolute;
    color: #fff;
}

span.icon-input.iconError {
    background-color: #df0000;
}

#gerar-novasenha button {
    width: 40%;
    height: 35px;
    background-color: #273f57;
    color: #fff;
    border-radius: 5px;
    border-color: #273f57;
    float: right;
    margin: 15px 0 30px 0;
    cursor: pointer;
}

#gerar-novasenha a {
    color: #273f57;
    font-weight: bold;
}

.error {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.input-error {
    border-top-color: #df0000;
}

.width-40 {
    width: 40%;
}
