.body-gerenciar>.form-cadastrar {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    min-height: calc(100% - 95px);
    margin-top: 50px;
}

.body-gerenciar>.form-cadastrar>form {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    width: 80%;
    margin-bottom: 50px;
}

.group-input select {
    height: 30px;
    padding: 2px 10px;
    border: none;
    border-bottom: 1px solid #cfcfcf;
    background-color: #fff;
    border-top: 3px solid #273f57;
    transition: border-color 0.1s ease-in;
}
