.pesquisar {
    display: flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    position: absolute;
    right: 0;
    width: 100%;
    height: 35px;
    padding: 0 20px;
    margin-top: 1px;
    background-color: #273f57;
}

.pesquisar>div>label {
    line-height: 20px;
    font-size: 14px;
    color: #fff;
}

.pesquisar>div>input {
    height: 24px;
    margin-left: 5px;
    border: none;
    font-size: 13px;
}

.pesquisar>div:nth-child(1)>input {
    width: 150px;
}

.pesquisar>div:nth-child(2)>input {
    width: 400px;
}

.pesquisar>button {
    width: 100px;
    height: 30px;
    margin-left: 50px;
    padding: 2px 5px;
    border-color: #273f57;
    border-radius: 3px;
    background-color: #ebebeb;
    color: #273f57;
    cursor: pointer;
    font-weight: bold;
}

input[name="ok"] {
    margin: 0;
}
